@charset "utf-8";
*{margin:0;padding:0}
body{width: 100%; background:#f0f0f0;color:#212121;font-family:"Pingfang SC,Helvetica Neue,Verdana,Arial,Helvetica,sans-serif,microsoft yahei";overflow-x: hidden;}
ol,ul{list-style:none}
label,select,input[type="submit"],input[type="button"],button{cursor:pointer;margin:0 auto}
img{border:0;margin:0}
textarea{overflow:auto}
em{font-style:normal}
table{border-collapse:collapse}
a,a:link,a:visited,a:hover{text-decoration:none;}
a *{cursor:pointer}
a img{border:0}
img,select,input,button{margin:0 auto;vertical-align:middle}
body img.valign{vertical-align:middle}
a,area{blr:expression(this.onFocus=this.blur())}:focus{outline:0}
i{display: inline-block;font-style: normal;}
a:hover{text-decoration: none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.fl{float: left;}
.fr{float: right;}       







