/*公用样式*/
body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}
*{
	margin: 0;
	padding: 0;
}
.navbar-default:hover{
	background: #1E2943;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.fr{
	float: right;
}
.fl{
	float: left;
}
.mt70{
	margin-top: 70px;
}
.mb20{
	margin-bottom: 20px;
}
.ml15{
	margin-left: 15px;
}
.logo-img{
	height: 50px;
	width: auto;
	margin: -15px 20px 0 0;
}
.footer{
	background: #22252a;
	color: #e9e9e9;
	padding-bottom: 30px;
}
.footer .h5{
	padding: 0.1rem 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.footer a{
	color: #515151
}
.footer a:hover{
	color: #48A0DC;
}
.list{
	margin-bottom: 20px;
	background: #fff;
	position: relative;
}
/*首页-index.html*/
.index .pageBg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.index .first-page{
	position: relative;
	width: 100%;
	overflow:hidden;
}
.index .first-page .search{
	margin-top: 16.8%;
}
@media (max-width: 768px) {
	.index .first-page .search{
		margin-top: 66%;
	}
	.index input[data-show="big"]{
		display: none;
	}
	.index .search .btn{
		width: 50%;
	    box-sizing: border-box;
	    float: left;
	    margin-top: 40px;
	}
}
.index .other-page{
	background: #fff;
	color: #333;
}
.index .about-me{
	width: 100%;
	overflow: hidden;
}
.index .about-me h2{
	margin-top: 30px;
}
/*博客-blog.html*/
.blog .list{
	margin-bottom: 20px;
	padding:20px;
	background: #fff;
}
.blog .search-wrap{
	background: #48A0DC;
	padding: 0.2rem 0;
	overflow: hidden;
}
.blog .search-wrap input{
	width: 80%;
	border-radius: 18px;
	margin: 0 auto 0;
}
.blog .nav-side li{
	height: 0.55rem;
	line-height: 0.55rem;
	text-indent: 0.2rem;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
}
.index .article{
	margin-bottom: 20px;
}
/*留言板-message.html*/
.message .mes-text{
	background: #fff;
	margin-bottom: 20px;
	padding: 0 0 0.2rem;
}
.message .mes-til{
	position: relative;
	top: 0;
	left: 0rem;
	height: 0.6rem;
	overflow: hidden;
}
.message .mes-til .h3{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 0.6rem;
    width: 2.5rem;
    text-indent: 0.2rem;
    background-color: rgba(2,117,216,.5);
    margin: 0;
    color: #fff;
    font-size: 0.3rem;
    font-weight: 600;
}
.message .mes-til .h3:after{
	content: "";
    border: 0.3rem solid transparent;
    border-right-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}
.message .mes-til span{
	margin-left: 2.8rem;
	line-height: 0.6rem;
}
.message .mes-area{
	padding:0 30px;
}
@media (max-width:768px) {
	.message .mes-area{
		padding:0 8px;
	}
}
.message .mes-text textarea{
	display: block;
    width: 100%;
    margin: 0.2rem auto;
    line-height: 1.5;
    padding: 10px;
    box-sizing: border-box;
    height: 1.2rem;
    outline: none;
    border: 1px solid #d3d3d3;
    resize: none;
    color: #515151;
    font-family: inherit;
}
.message .mes-user .btn{
	width: 100%;
}
.message .mitem-wrap{
	margin-bottom: 20px;
}
.message .mes-item{
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	padding: 0.2rem 0.2rem 0;
	background: #fff;
}
.message .mes-item:hover{
	background:#fafafa;
}
.message .mes-item .portrait{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
}
.message .mes-item p{
	margin-left: 70px;
}
.message .github-op{
	width: 100%;
}
.message .github-op span{
	display: block;
	width: 33.333333%;
	float: left;
}
.message .github-op span:hover{
	background: #fafafa;
}
.message .github-op span em{
	display: block;
	text-align: center;
}
.message .mes-user{
	padding-right: 40px;
}
@media (max-width: 768px) {
	.message .mes-user{
		padding-right: 20px;
		padding-left: 20px;
	}
}
.message .avater{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 60px;
	left: 50%;
	padding: 6px;
	border-radius: 50%;
	margin-left: -40px;
	background: rgba(255,255,255,0.3);
}
@media (max-width:768px) {
	.message .avater{
		width: 2rem;
		height: 2rem;
		top: 0.8rem;
		left: 50%;
		margin-left: -1rem;
	}
}
.message .avater img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 50%;
}
.message .avatar-til{
	margin: 36px 0 16px;
	text-align: center;
	color: #428bca;
}
.message .hot-bles{
	background: #fff;
	margin-bottom: 20px;
}
.message .hot-bles .h4{
	padding:10px;
	margin-bottom: 0;
	border-bottom: 1px solid #e8e8e8;
}
/*实验室-element.html*/
.element .ele-item{
	background: #fff;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.element .ele-item p{
	padding-left: 10px;
	padding-right: 10px;
}
.element .ele-des{
	height: 64px;
	overflow: hidden;
}
.element .ele-item h5{
	padding-bottom: 15px;
	padding-top: 15px;
}



